/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
}

:root {
  --cornflower: #e7e9fc;
  --green: #31d0aa;
  --main-title-color: #ffffff;
  --navi-blue: #2e2f42;
  --paragraph-title-font-family: "Roboto", sans-serif;
  --adres-title-color: #434455;
  --white: #ffffff;
  --element-gap: 24px;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --element-gap: 24px;
  --iris: #4d5ae5;
  --grey: rgba(46, 47, 66, 0.7);
  --light-slate: #8e8f99;
  --transparent-white: rgba(255, 255, 255, 0.1);
  --speed-transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
button,
btn {
  cursor: pointer;
}

/* Txt decoration & list style  */
.link {
  text-decoration: none;
}

.link:is(:hover, :focus, :active) {
  color: #404bbf;
}

.list {
  list-style: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* Header */

.header {
}
.header-nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.web-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  transition: var(--speed-transform);
}
.studio {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: var(--speed-transform);
}

.header-link-top {
  color: var(--ocean);
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: var(--speed-transform);
}

.header-link-top::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 4px;
  background: var(--ocean);
  border-radius: 2px;
  top: 44px;
  left: 0px;
}
.header-link-current::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background: var(--ocean);
  border-radius: 2px;
  top: 44px;
  left: 0px;
}
.header-link-current {
  color: var(--ocean);
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: var(--speed-transform);
}

.link:is(:hover, :focus, :active) {
  color: var(--ocean);
}

/* Adress */

.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}

.address-mail {
  font-family: var(--paragraph-title-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adres-title-color);
  transition: var(--speed-transform);
}
.address-tel {
  font-family: var(--paragraph-title-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adres-title-color);
  transition: var(--speed-transform);
}

/* Main */
.main-studio {
}
/* First section */

.hero {
  max-width: 1440px;
  padding: auto;
  margin: 0 auto;
  background: var(--navi-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
}

.hero-button {
  font-family: var(--paragraph-title-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  margin-top: 48px;
  border: none;
}

.hero-title {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 2560px;
}

.button {
  transition: var(--speed-transform);
}

.button:is(:hover, :focus, :active) {
  background-color: #404bbf;
}

.hero-btn-list {
  font-family: var(--paragraph-title-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.btn {
  transition: var(--speed-transform);
}

.btn:hover {
  color: #ffffff;
  background: #404bbf;
}

.btn:focus {
  color: #ffffff;
  background: #404bbf;
}
.btn:active {
  color: #ffffff;
}

.hero-none {
  padding-top: 96px;
}

/* Second section */

.second-section {
  padding-top: 120px;
}

.second-section-header {
}
.second-section-list {
  display: flex;
  gap: 24px;
}
.second-item {
  width: 264px;
}
.second-item-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 8px;
}
.second-item-description {
  margin-top: 8px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.feature-icon-bg {
  padding: 24px 100px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Third section */

.third-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.third-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.third-section-list {
  display: flex;
  gap: 24px;
}

.third-item {
}

/* Fourth section */
.fourth-section {
  background-color: #f4f4fd;
}

.team-list {
  background: #ffffff;
}

.team-content {
  padding: 32px 16px;
}

.team-social-list {
  display: flex;

  gap: var(--element-gap);
}

.team-social-item {
  padding: 0;
  margin: 0;
  transition: var(--speed-transform);
}

.team-soc-icon {
  width: 20px;
  height: 20px;
  fill: #f4f4fd;
  transition: var(--speed-transform);
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  fill: var(--cloud);
  background-color: var(--iris);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: var(--speed-transform);
}

.team-social-link:is(:hover, :focus) {
  background-color: var(--ocean);
}

.fourth-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  margin-bottom: 72px;
}
.fourth-section-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.fourth-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.fourth-item-image {
}
.fourth-item-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.fourth-item-profession {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--adres-title-color);
  margin-bottom: 8px;
}

/* Fifth section Customers */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navi-blue);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--element-gap);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;

  fill: var(--light-slate);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  transition: var(--speed-transform);
}

.customers-link:is(:hover, :focus) {
  fill: var(--ocean);
  border: 1px solid var(--ocean);
}

.customers-icon {
  width: 104px;
  height: 56px;
  transition: var(--speed-transform);
}

/* Footer */

.footer {
  padding-top: 102px;
  padding-bottom: 100px;
  background: var(--navi-blue);
}

.footer-container {
  display: flex;
  align-items: first baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
}
.studio-footer {
  color: #f4f4fd;
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-about {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;

  max-width: 264px;
  height: 72px;
  left: 156px;
  top: 2418px;
  margin-top: 16px;
}

.footer-social-text {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--cloud);
}

.social-content {
  margin-left: 120px;
}

.footer-social-list {
  display: flex;
  margin-top: 16px;
  gap: calc(var(--element-gap) - 8px);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  fill: var(--cloud);
  background-color: var(--transparent-white);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: var(--speed-transform);
}

.footer-social-link:is(:hover, :focus) {
  background-color: var(--green);
  opacity: 1;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 408px;
  min-height: 576px;
  left: 516px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms;
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}
.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 24px;
  right: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close:hover,
.modal-close:focus {
  background: #404bbf;
  border-radius: 4px;
  border-radius: 50%;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close {
  width: 8px;
  height: 8px;
  display: inline-block;
}

/* Portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.border {
}
.border:hover {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.servise-item {
  width: calc((100% - var(--element-gap) * 2) / 3);

  background-color: var(--white);
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  column-gap: var(--element-gap);
  row-gap: calc(var(--element-gap) * 2);
}

.work-content {
  padding: 32px 15px;

  border: 1px solid var(--cornflower);
  border-top: none;
}

.title-about {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 8px;
}
.title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adres-title-color);
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button:is(:hover, :focus, :active) {
}

.hero-btn-list {
  font-family: var(--paragraph-title-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background: #404bbf;
}

.btn:focus {
  color: #ffffff;
  background: #404bbf;
}
.btn:active {
  color: #ffffff;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
