:root {
  --header-item-color: #2e2f42;
  --address-list-color: #434455;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
}

/* Txt decoration & list style  */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header */

.header {
}
.header-nav {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em
  text-transform: uppercase;
  color: #4d5ae5;
}
.Studio {
  color: #2e2f42;
}
.header-list {
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}
.header-item :hover,
.header-item :focus {
  color: #404bbf;
}

.header-link {
    color: var(--header-item-color);

}
.address {
  font-style: normal;
}
.address-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-list-color);
}

.address-list :hover,
.address-list :focus {
  color: #404bbf;
}

/* Main */
.main-studio {
}
/* First section */

.first-section {
  background-color: #2e2f42;
}
.first-section-header-studio {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.first-section-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Second section */

.second-section {
}
.second-section-header {
}
.second-section-list {
}
.second-item {
}
.second-item-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.second-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Third section */

.third-section {
}
.third-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.third-section-list {
}
.third-item {
}

/* Fourth section */

.fourth-section {
}
.fourth-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.fourth-section-list {
}
.fourth-item {
}
.fourth-item-image {
}
.fourth-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.fourth-item-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Footer */

.footer {
  background-color: #2e2f42;
}
.footer-logo {
}
.footer-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Portfolio */

.mail-portfolio {
}

/* First section */
.first-section-portfolio {
}
.first-section-header-portfolio {
}
.portfolio-filters-list {
}
.portfolio-btn {
  background-color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Second section */

.second-section-portfolio {
}
.second-section-header-portfolio {
}
.portfolio-project-list {
}
.portfolio-project-item {
}
.portfolio-project-image {
}
.portfolio-project-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.portfolio-project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
